/* General styles */
body {
  font-family: Tekturl
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: black;
  color: silver;
}

header {
  background-color: black;
  color: silver;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  margin: 0;
  font-family: anton;
  text-align: center;
}

h2{
  margin: 0;
  font-family: anton;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  font-size: 10px;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: silver;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

.project-tile {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

.project-tile h3 {
  margin: 0;
}

.project-tile img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.cta-button {
  display: inline-block;
  background-color: silver;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

footer {
  background-color: black;
  color: silver;
  padding: 10px;
  text-align: center;
}

/* Fix the #navbar at the top of the viewport */
#navbar {
  background-color: black;
  color: silver;
  padding: 5px 10px;
  position: fixed; /* Fixed position */
  top: 0; /* Stick to the top of the viewport */
  left: 0; /* Stick to the left edge of the viewport */
  right: 100; /* Stick to the right edge of the viewport */
}

#navbar ul {
  display: flex;
}

#navbar li {
  margin-right: 20px;
}

#navbar a {
  text-decoration: none;
  color: silver;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  header {
    padding: 10px;
  }
  .project-tile {
    padding: 20px;
  }
  a{
    color:silver;
  }